<div class="row search-container">
    <div class="col-sm-12 col-md-10 offset-md-1 search-form">
        <div class="row">
            <div class="col-sm-12">
                <h3>Search options</h3>
            </div>
        </div>
        <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search"
                            formControlName="searchStringForm" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="date" class="form-control" placeholder="2020/01/01"
                                    formControlName="searchDateForm" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="search-checkbox"
                                        placeholder="false" formControlName="descendingForm" />
                                    <label class="form-check-label" for="search-checkbox">
                                        Descending
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" [disabled]="!searchForm.valid">Search</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


<div class="row mt-3">
    <div class="col-12 text-center">
        <h1 class="display-4">Events</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">

        <div class="list-group">
            <a class="list-group-item list-group-item-action mb-2" *ngFor="let event of events"
                routerLink="/events/{{event._id}}">

                <div class="d-flex w-100 justify-content-center">
                    <p class="h5">{{event.title}}</p>
                </div>
                <div class="d-flex w-33 justify-content-between mt-1 mb-3">
                    <small>Age group: {{event.targetGroupMin}} - {{event.targetGroupMax}}y</small>
                    <small>Number of participants: {{event.total_capacity}}</small>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">{{event.description}}</p>
                    <small>Event start: {{event.date}}</small>
                </div>
                <div>
                    Event ID: {{event._id}}
                </div>
            </a>

            <!--
            <br>
            <button [disabled]="!canActivateButtonPrevious" (click)="onPreviousClicked()">Previous page</button>
            <button [disabled]="!canActivateButtonNext" (click)="onNextClicked()">next page</button>
            -->
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-12 col-md-10 offset-md-1 text-right">
        <div class="row">

            <div class="col-sm-5 offset-sm-7">
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <button class="prev-next-btn" [disabled]='btnPreviousDisabled' (click)='pageNextPrevClick(false)'>Previous</button>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="d-flex justify-content-between">
                            <p class="lead" *ngFor="let page of pages">
                                <a class="page-link">{{page}}</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center">
                        <button class="prev-next-btn" [disabled]='btnNextDisabled' (click)='pageNextPrevClick(true)'>Next</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>