<div class="row mt-3">
    <div class="col-sm-12" *ngIf='errorMessage'>
        <p class="lead text-center alert alert-danger">{{errorMessage}}</p>
    </div>
    <div class="col-12 mt-3 text-center">
        <h1 class="display-4">Events</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">

        <div class="list-group">
            <a class="list-group-item list-group-item-action mb-2" *ngFor="let event of events"
                routerLink="/events/{{event._id}}">

                <div class="d-flex w-100 justify-content-center">
                    <p class="h5">{{event.title}}</p>
                </div>
                <div class="d-flex w-33 justify-content-between mt-1 mb-3">
                    <small>Age group: {{event.targetGroupMin}} - {{event.targetGroupMax}}y</small>
                    <small>Number of participants: {{event.total_capacity}}</small>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">{{event.description}}</p>
                    <small>Event start: {{event.date}}</small>
                </div>
                <div>
                    Event ID: {{event._id}}
                </div>
            </a>

            <br>
            <button [disabled]="!canActivateButtonPrevious" (click)="onPreviousClicked()">Previous page</button>
            <button [disabled]="!canActivateButtonNext" (click)="onNextClicked()">next page</button>

        </div>
    </div>
</div>