<div class="login">
    <h1>Login</h1>
    <form [formGroup]="loginFormParent" (ngSubmit)="onSubmit()">
        <input type="text" name="u" placeholder="Username" formControlName="usernameForm" />
        <input type="password" name="p" placeholder="Password" formControlName="passwordForm" />
        <button type="submit" class="btn btn-primary btn-block btn-large"
            [disabled]="!loginFormParent.valid">Login</button>

        <br>
        <div *ngIf="(username.invalid && (username.dirty || username.touched))" class="alert alert-danger">
            <div *ngIf="username.errors">
                <div *ngIf="username.errors.required">
                    Username is required.
                </div>
                <div *ngIf="username.errors.minlength">
                    Username must be at least 4 characters long.
                </div>
            </div>


        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors">
                <div *ngIf="password.errors.required">
                    Password is required.
                </div>

                <div *ngIf="password.errors.minlength">
                    Password must be at least 4 characters long.
                </div>
            </div>
        </div>
    </form>
</div>
<button (click)=logon()>login</button>
<button (click)=logonAlt()>loginAlt</button>