<ng-container>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav style="background-color: #E9573D" #sidenav mode="over" class="admin-sidenav" [fixedInViewport]="true"
      [fixedTopGap]="100" [fixedBottomGap]="0" [(opened)]='isSideNavOpen'>

      <br>
      <div class="col-sm-12 text-center mt-3">
        <p class="h3 text-light"><strong>Administration</strong></p>
      </div>
      <br>
      <br>
      <div class="col-sm-12">
        <p class="h4">
          <a routerLink='/' class="text-light text-decoration-none">
            Review event submissions
          </a>
        </p>
      </div>
      <br>
      <div class="col-sm-12">
        <p class="h4">
          <a routerLink='/' class="text-light text-decoration-none">
            Manage administrator accounts
          </a>
        </p>
      </div>

      <mat-toolbar class="footer">
        <div class="col-12">
          <p class="h4">
            <a (click)="toggleSideNav();logOut()" routerLink='/' class="text-light text-decoration-none">
              Log Out
            </a>
          </p>
        </div>
      </mat-toolbar>

    </mat-sidenav>

    <mat-sidenav-content>
      <!-- rest of app html goes here -->
      <div class="container-fluid">
        <div class="row" style="background-color:#E9573D">

          <div class="col-3">
            <div class="row">

              <div class="col-5 mt-3 text-center" *ngIf="!isLoggedIn()">
                <p class="lead" style="padding-top:16px;">
                  <a class="text-light text-decoration-none" routerLink="/login"><img
                      style="max-width:32;max-height:64px" src="assets/img/login.png" /></a>
                </p>
              </div>
              <div class="col-2 mt-3 text-center" *ngIf="!isLoggedIn()">
                <p class="lead" style="padding-top:16px;">
                  <a class="text-light text-decoration-none" routerLink="/createEvent"><img
                      style="max-width:32;max-height:64px" />Host Event</a>
                </p>
              </div>

              <div class="col-4 ml-3" *ngIf="isLoggedIn()">
                <div id="nav-icon1" [className]="isSideNavOpen ? 'open' : ''" (click)="toggleSideNav()">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>

            </div>
          </div>


          <div class="col-6 text-center mt-3 mb-3" style="display:block;padding:1rem;width:380px;margin:0 auto"
            *ngIf="innerWidth >= 1200">
            <a routerLink="/events"><img style="max-width:500px;max-height:500px" src="assets/img/genforening-logo.svg"
                alt="Genforeningen 2020 - Velkommen til Genforeningen 2020" /></a>
          </div>

          <div class="col-8 text-center ml-3" style="display:block;padding:1rem;width:380px;margin:0 auto"
            *ngIf="innerWidth < 1200">
            <!--</div>style="display:block;padding:1rem;width:380px;margin:0 auto"-->

            <a routerLink="/events"><img src="assets/img/genforening-logo-small.svg"
                alt="Genforeningen 2020 - Velkommen til Genforeningen 2020" /></a>
          </div>

          <div class="col-2 text-right" style="padding-right:64px;" *ngIf="innerWidth >= 1200">
            <p class="lead" style="color:white;padding-top:32px;">
              <a class="text-light text-decoration-none" href="/">DK</a> /
              <a class="text-light text-decoration-none" href="/"> English</a><br>/
              <a class="text-light text-decoration-none" href="/">Deutsch</a>
            </p>
          </div>
        </div>

        <router-outlet></router-outlet>

      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="footer" *ngIf='innerWidth >= 775'>
    <mat-toolbar-row>
      <a href="/">
        <img src="../assets/img/facebook.svg" width="64px" height="64px" />
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a href="/">
        <img src="../assets/img/twitter.svg" width="64px" height="64px" />
      </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <a href="/">
        <img (click)='doSomething()' src="../assets/img/instagram.svg" width="64px" height="64px" />
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

</ng-container>