<!--      CREATE EVENT PAGE BELOW       -->

<div class="row event-detail-container">
  <div class="col-sm-10 offset-1 text-center event-detail" *ngIf="event">
    <!-- style="margin:0 auto; background-color: lightgray; outline: outset #E9573D"-->





    <div class="col-sm event">
      <form [formGroup]="eventForm">
        <h1>Host an event</h1>
        <small>The event will need to be approved</small>
        <br><hr>
        <p>Image: <input #file type="file" accept='image/*' (change)="preview(file.files)" /></p>
        <img [src]="imgURL" height="250" width="500" *ngIf="imgURL">
        <br><br>
        <div>
          <div class="row">
            <div class="col-3 offset-3" style="margin: 0 auto">
              <label>Title</label>
              <br>
              <input formControlName="titleFormControl" class="form-control" [(ngModel)]="event.title"
                placeholder="Input Title" type="text" />
              <br>
              <label for="eventDescription">Description</label>
              <br>
              <textarea formControlName="descriptionFormControl" class="form-control" rows="3" cols="30"
                id="eventDescription" [(ngModel)]="event.description" placeholder="Input Description"> </textarea>
              <br>
              <label> Target Group Minimum</label>
              <br>
              <input formControlName="targetGroupMinFormControl" class="form-control" [(ngModel)]="event.targetGroupMin"
                placeholder="Input Number" type="number" />
              <br>
              <label> Target Group Maximum</label>
              <br>
              <input formControlName="targetGroupMaxFormControl" class="form-control" [(ngModel)]="event.targetGroupMax"
                placeholder="Input Number" type="number" />
              <br>
              <label> Location </label>
              <br>
              <input formControlName="locationFormControl" class="form-control" [(ngModel)]="event.location"
                placeholder="Input Location" type="text" />
              <br>
              <label> Date & Time </label>
              <br>
              <input formControlName="dateFormControl" class="form-control" [(ngModel)]="event.date"
                placeholder="Input Date & Time" type="datetime" />
              <br>
              <button class="btn" [disabled]="eventForm.invalid">Submit Event</button>
              <br>
              <small class="small-text-below-button">Button will activate once all fields are properly filled out</small>
              <br>
              <small class="small-text-below-button">Review the event details below</small>
            </div>
          </div>
        </div>
      </form>

      <br>
      <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
        <div *ngIf="title.errors.required">
          Title is required.
        </div>
      </div>
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
        <div *ngIf="description.errors.required">
          Description is required.
        </div>
      </div>
      <div *ngIf="targetGroupMin.invalid && (targetGroupMin.dirty || targetGroupMin.touched)"
        class="alert alert-danger">
        <div *ngIf="targetGroupMin.errors.required">
          Target Group Minimum is required.
        </div>
      </div>
      <div *ngIf="targetGroupMax.invalid && (targetGroupMax.dirty || targetGroupMax.touched)"
        class="alert alert-danger">
        <div *ngIf="targetGroupMax.errors.required">
          Target Group Minimum is required.
        </div>
      </div>
      <div *ngIf="location.invalid && (location.dirty || location.touched)" class="alert alert-danger">
        <div *ngIf="location.errors.required">
          Location is required.
        </div>
      </div>
      <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
        <div *ngIf="date.errors.required">
          Date & Time is required.
        </div>
      </div>
    </div>
  </div>
</div>











<!--      REVIEW PAGE BELOW       -->








<div class="row event-detail-container" *ngIf="event.title != null">
  <div class="col-sm-10 offset-1 text-center event-detail" *ngIf="event">
    <!-- style="margin:0 auto; background-color: lightgray; outline: outset #E9573D"-->


    <div class="col-sm event">
      <img [src]="imgURL" height="250" width="500" *ngIf="imgURL">
      <br>
      <h2>{{event.title}}</h2>
      <div>
        <div class="row">
          <div class="col-6 offset-2 text-center mt-3 mb-3">
            <p>{{event.description}}</p>
          </div>
          <div class="col-2 offset-1 mt-3 mb-3" style="text-align: left">
            <small>{{event.targetGroupMin}} - {{event.targetGroupMax}}</small>
            <br><br>
            <small> {{event.location}}</small>
            <br><br>
            <small>{{event.date}}</small>
          </div>

        </div>
      </div>
      <button (click)="goBack()">go back</button>
    </div>


  </div>
</div>